.nav__button{
    margin-right:5px;  
    padding: 5px;
    border:1px solid black;
    font-size: 16px;
    background-color: white;
    cursor:pointer
}
.isActive{
    background-color: orange;
}

.navButtons{
        // position: fixed;
        // width:100%;
}
//second  nav
.navExtension{
    display: flex;
    align-items: center;
    width: auto;
    height: 47px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    // position:fixed;
    //         width: 100%;
}
//align text
.alignText{
    margin-left: 15px;
    cursor: pointer;
}

        //tesxtStyle
 .textStyle {
     display: flex;
     margin-left: 15px;
     cursor: pointer;
     font-size: 18px; 
     .bold {
         font-weight: bold;
     } 
     .italics {
         margin-left: 5px;
         font-style: italic;
     } 
     .underline {
         margin-left: 5px;
         text-decoration: underline;
     }
}

    .icon{
        margin-left:15px
    }

    //form
    .formSquare, .square, .formSquare0, .formSquare1, .formSquare2{
        width: 34px;
        height: 34px;
        border:1px solid black;
    }

    //Edit
    .cpEdit{
        margin-left: 15px;
    }