.screen{
    width: 100%;
    height: 80vh;
    position:relative;
}
//activeShape
    .formSquare__handler--topLeft{
        position: absolute;
        top:-6px;
        left:-6px;
        width:12px; 
        height:12px;
        background-color: orange;
        border-radius: 50%;
       }
 .formSquare__handler--topRight {
     position: absolute;
     top: -12px;
     right: -12px;
     width: 24px;
     height: 24px;
     background-color: orange;
     border-radius: 50%;
 }
  .formSquare__handler--bottomRight {
      position: absolute;
      bottom: -12px;
      right: -12px;
      width: 24px;
      height: 24px;
      background-color: orange;
      border-radius: 50%;
  }
   .formSquare__handler--bottomLeft {
       position: absolute;
       bottom: -6px;
       left: -6px;
       width: 12px;
       height: 12px;
       background-color: orange;
       border-radius: 50%;
   }
    .formSquare__handler--bottomMiddle {
        position: absolute;
        bottom: -6px;
        left: calc(50% - 6px);
        width: 12px;
        height: 12px;
        background-color: orange;
        border-radius: 50%;
    }