<div class="navButtons">
  <app-nav-button
    [navButton]="navButton"
    [isActive]="isActive"
    (newItemEvent)="selectedButton($event)"
    *ngFor="let navButton of navButtons"
  >
  </app-nav-button>
</div>

<div class="navMenues" *ngIf="isActive === 'Forms'">
  <div class="formSquare"></div>
  <div class="formCircle"></div>
  <div class="formText">Text</div>
</div>

<div class="navMenues" *ngIf="isActive === 'Edit'">
  <button (click)="stickToTop()">100% breit</button>
  <input
    (click)="myInput()"
    [(colorPicker)]="colour"
    [style.background]="colour"
    class="cpEdit"
  />
</div>
<div class="navMenues" *ngIf="isActive === 'Typing'">
  <app-little-form
    [littleFormWindow]="littleFormWindow"
    [littleFormSelection]="littleFormSelection"
    [littleFormFonts]="littleFormFonts"
  >
  </app-little-form>
  <app-counter [counterFontsizes]="counterWindow"></app-counter>

  <div
    [style.background]="color"
    [cpAddColorButton]="true"
    class="colourPicker__input"
    [cpPresetColors]="colours"
    [(colorPicker)]="color"
    [cpAddColorButtonText]="'Add'"
    [cpAddColorButton]="true"
    [cpAddColorButtonClass]="'cpTyping__addColour'"
    [cpOKButton]="true"
  ></div>
  <div class="alignText">
    <i class="bi bi-justify-left icon-size"></i>
    <i class="bi bi-justify icon-size"></i>
    <i class="bi bi-justify-right icon-size"></i>
  </div>
  <div class="textStyle">
    <div class="bold">B</div>
    <div class="italics">I</div>
    <div class="underline">U</div>
  </div>
</div>

<div class="navMenues" *ngIf="isActive === 'Positioning'">
  <div><i class="bi bi-align-center icon-size"></i></div>
  <div class="icon"><i class="bi bi-align-end icon-size"></i></div>
  <div class="icon"><i class="bi bi-align-middle icon-size"></i></div>
  <div class="icon"><i class="bi bi-align-start icon-size"></i></div>
  <div class="icon"><i class="bi bi-align-top icon-size"></i></div>
</div>

<div class="navMenues" *ngIf="isActive === 'Add Ins'">
  <div><i class="bi bi-camera icon-size"></i></div>
  <div class="icon"><i class="bi bi-link icon-size"></i></div>
</div>

<!-- the screen -->
<div class="screen">the screen<br /></div>
